
body{
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
}

.main{
  background: rgb(14, 123, 160);
  width:100vw;
  height:70vh;
}

.nav{
  background: rgb(7, 78, 7);
  width:100vw;
  height:30vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-evenly
}

.nav-item{
  margin: 5px 0;
  background: yellow;
  height: 90px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  nav{



  }

}